
<footer class="footer">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="nav navbar-nav navbar-left">
        <ul class="footerleft">© 2019 Copyright:
          <li>
            <a href="#">{{ email }}</a>
          </li>
        </ul>
      </div>

      <div class="social-icons">
        <a href="#"><i class="fa fa-envelope-square fa-3x social"></i></a>
        <a href="#"><i class="fab fa-facebook-square fa-3x social"></i></a>
        <a href="#"><i class="fab fa-twitter-square fa-3x social"></i></a>
        <a href="#"><i class="fab fa-google-plus-square fa-3x social"></i></a>
      </div>
      <div class="nav navbar-nav navbar-right">
        <ul>

        </ul>
      </div>
    </div>
  </nav>
</footer>
