/* Det här behövs inte.
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}
*/

.mynavbar {
  top: 0;
  clear: both;
  position: relative;
  position: fixed;
  width: 100%;
}

.container {
  margin-bottom: 10px;
  margin-top: 18px;
  margin-left: 10px;
  width: 100%;
}
