<ng-container 
	*ngIf="selectedSeason !== undefined then isSet else notSet">
</ng-container>


<ng-template #isSet>
	<div class="dropdown">
		<button class="dropbtn">{{selectedSeason.seasonStartYear}}-{{selectedSeason.seasonEndYear}}</button>
		<div *ngIf="seasons$ | async as seasons else noData" class="dropdown-content">
			<a (click)="onSelect(data)" *ngFor="let data of seasons">{{data.seasonStartYear}}-{{data.seasonEndYear}}</a>
		</div>
	</div> 
</ng-template>

<ng-template #notSet>
	<div class="dropdown">
		<button class="dropbtn">Season</button>
		<div *ngIf="seasons$ | async as seasons else noData" class="dropdown-content">
			<a (click)="onSelect(data)" *ngFor="let data of seasons">{{data.seasonStartYear}}-{{data.seasonEndYear}}</a>
		</div>
	</div> 
</ng-template>


